.nav-items {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  border: none;
  border-radius: 10rem;
  box-shadow: var(--shadow-md);
  line-height: 1.2;
  list-style: none;

}
.link {
  border: none;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  transition: 0.2s ease-in-out;
}
.link.active,
.link:hover,
.link:focus {
  background-color: var(--accent-regular);
}

@media (min-width: 50em) {
  .nav-items {
    position: relative;
  }
}
@media (forced-colors: active) {
  .link.active {
    color: SelectedItem;
  }
}

#parent {
    margin:auto;
  }
  
  .child{
    height: 204px;
  }
  .child:before {
    height: 40vh;

    width: 100%;
    content: ' ';   
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-pro{
    height: 120px;
    width: 100%;
}
/* 
  .child {
    width: 100%;
    height: 100%;
    background-color: red;
    box-shadow:
      760px 0 0 red,
      1520px 0 0 red,
     -760px 0 0 red,
     -1520px 0 0 red;
  } */

/* main {
    margin: auto;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  } */