---
import "../../styles/style.css";

const { title, description, image = '/placeholder-social.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="theme-color" content="#ffffff" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content="software engineer, web developer, portfolio, .net, asp.net, react, umbraco, cms, azure, cloud, desarrollador, ingeniero de software, ingeniero de sistemas">
<meta name="author" content="Martinsito Brito Diaz">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Martinsito's Software Engineer Portfolio">
<meta property="og:description" content="Explore Martinsito Brito Diaz's projects, skills, and experience in software development.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://martinsitobd.netlify.app/">
<meta property="og:site_name" content="Martinsito's Portfolio">
<meta name="twitter:title" content="Martinsito's Software Engineer Portfolio">
<meta name="twitter:description" content="Explore Martinsito's projects, skills, and experience in software development.">
<meta name="azure-certification" content="Microsoft Certified: Azure Developer Associate">
<meta name="azure-certification-description" content="Demonstrate your expertise in designing, building, testing, and maintaining cloud solutions on Microsoft Azure with the Azure Developer Associate certification.">
<meta name="azure-certification-topics" content="Azure development, cloud computing, Azure services, Azure App Service, Azure Functions, Azure Storage, Azure SQL Database, Azure Cosmos DB, Azure DevOps">
<meta name="azure-certification-benefits" content="Validate your skills and knowledge in Azure development, increase your career opportunities, earn recognition from employers, gain access to exclusive Microsoft resources and community, stay updated with the latest Azure technologies and best practices">

<!-- Link -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico"/>