
<div class="my-8">
    <h3 class="text-dark dark:text-light font-bold text-xl">Education</h3>

    <div class="text-dark dark:text-light my-2 flex ">
      <div class="ml-8">
        <p class="font-bold text-lg">System Engineer</p>
        <h3 class=" font-bold text-lg">Universidad Católica Nordestana<span class="font-light text-sm pl-3">2017 - 2021</span></h3>
      </div>
    </div>
      
</div>