---
import { info } from "@data";
import { createLogo } from "@utils";

const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Work', href: '/work/' },
	{ label: 'About', href: '/about/' },
];

---

<nav
  class="container flex items-center justify-between h-[80px] sm:h-[123px]"
>
  <img src={info.logo} class="object-contain h-20 w-30" />
  <ul class="nav-items dark:bg-[#202020] dark:text-light active-float-menu">
    {
      textLinks.map(({ label, href }) => (
        <li>
          <a
            aria-current={Astro.url.pathname === href}
            class:list={[
              'link',
              {
                active:
                  Astro.url.pathname === href ||
                  (href !== '/' && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
  
  <ul class="flex items-center ">
    <!-- <li>
      <a class="p-4 dark:text-light block text-lg" href="/projects"
        >Projects</a
      >
    </li> -->
    <!-- <li>
      <a class="p-4 dark:text-light block text-lg" href="/contact">Contact</a>
    </li> -->
    <!-- <li>
      <button
        aria-label="menu-button"
        id="menu-button"
        class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020] "
      ></button>
    </li> -->
    
    <li class="">
      <button
        aria-label="theme-button"
        id="theme-button"
        class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020] active-theme"
      ></button>
    </li>
  </ul>
</nav>

<div  
 class="fixed bottom-4 right-4" aria-label="float-button-container" >
  <button aria-label="theme-button"
  id="theme-button-mobile"class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020] active-theme-mobile">
  </button>
</div>


<script is:inline>
  const moon = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>`;
  const sun = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>`;
  const menu = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>`;
  const themeButton = document.getElementById("theme-button");
  const themeButtonMobile = document.getElementById("theme-button-mobile");
  const browserTheme = document.querySelector('[name="theme-color"]');
  // const floatButton = document.getElementById("float-button-container");

  let isDark;
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  // menuButton.innerHTML = menu;
  
  // floatButton.classList.add = 'fixed bottom-4 right-4';

  if (theme === "light") {
    document.documentElement.setAttribute("data-theme", "light");
    isDark = true;
    themeButton.innerHTML = moon;
    themeButtonMobile.innerHTML = moon;
    browserTheme.content = "#FFFFFF";
  } else {
    document.documentElement.setAttribute("data-theme", "dark");
    isDark = false;
    themeButton.innerHTML = sun;
    themeButtonMobile.innerHTML = sun;
    browserTheme.content = "#111111";

  }
  window.localStorage.setItem("theme", theme);

  const darkModeHandler = () => {
    if (isDark) {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.theme = "dark";
      isDark = false;
      themeButton.innerHTML = sun;
      themeButtonMobile.innerHTML = sun;
      browserTheme.content = "#111111";
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.theme = "light";
      isDark = true;
      themeButton.innerHTML = moon;
      themeButtonMobile.innerHTML = moon;
      browserTheme.content = "#FFFFFF";
    }
  };

  themeButton.addEventListener("click", darkModeHandler);
  themeButtonMobile.addEventListener("click", darkModeHandler);
</script>

<style>
  .nav-items {
		margin: 0;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		font-size: var(--text-md);
		line-height: 1.2;
		list-style: none;
		padding: 2rem;
	}
	.link {
		display: inline-block;
		color: var(--gray-300);
		text-decoration: none;
	}
	.link.active {
		color: var(--gray-0);
	}
  .active-menu{
    display: block;
  }
  .active-float-menu{
    display: none;
  }

  .active-theme{
    display: none;
  }

  .active-theme-mobile{
    display: block;
  }
	
	@media (min-width: 50em) {
    .active-menu{
      display: none;
    }

    .active-float-menu{
      display: flex;
    }

    .active-theme-mobile{
      display: none;
    }
    
    .active-theme{
      display: block;
    }
	
		.nav-items {
			position: relative;
			font-size: var(--text-sm);
			border-radius: 999rem;
			border: 0;
			padding: 0.5rem 0.5625rem;
			box-shadow: var(--shadow-md);
		}
		.link {
			padding: 0.5rem 1rem;
			border-radius: 999rem;
			transition: 0.2s ease-in-out;
		}
		.link:hover,
		.link:focus {
			color: var(--gray-100);
			background-color: var(--accent-subtle-overlay);
		}
		.link.active {
			color: var(--accent-text-over);
			background-color: var(--accent-regular);
		}
		
	}
	@media (forced-colors: active) {
		.link.active {
			color: SelectedItem;
		}
	}
</style>  