---
import MainLayout from "../layouts/MainLayout.astro";
import { info } from "@data";
import { ContactForm } from '../components/react';
import Courses from "@components/general/Courses.astro";
import Experience from "@components/general/Experience.astro";
import Education from "@components/general/Education.astro";
import WhoAmI from "@components/general/WhoAmI.astro";
---

<MainLayout>
  <h1 class="text-dark dark:text-light font-bold text-3xl">About me</h1>

  <WhoAmI />

  <Education />
  
  <Experience />

  <Courses />

  <ContactForm client:load />
</MainLayout>