---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { info } from "@data";
import { IProject } from "@types";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config";
import BaseHead from "@components/general/BaseHead.astro";
import Hero from "@components/home/Hero.astro";
import MainProject from "@components/general/MainProject.astro";
import { ManiProject } from "@components/react/ManiProject";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Layout>
      <Hero name={info.name.split(" ")[0]} degree={info.degree} about={""} />

      <div class="flex items-center justify-center">
        <img src={info.codeBackground} class="h-70 w-60 my-10" />
      </div>

      <div class="h-100 w-full before:dark:bg-[#202020] before:bg-light-green my-28">
        <h2
          class="py-5 dark:text-light text-dark-green text-4xl font-bold text-center my-10"
        >
          Projects
        </h2>
        <div class="grid gap-y-10 mx-auto">
          {
            info.work.projects.slice(0, 4).map((project) => (
              <ManiProject project={ project } />
            ))
          }
        </div>
		<a class="flex justify-end gap-x-2 mr-10 cursor-pointer mt-5">
			<p class="dark:text-light text-2xl font-bold ">More projects</p>
			<svg class="h-8 w-8 dark:stroke-light stroke-dark dark:hover:fill-[#878b80] dark:hover:stroke-[#878b80]  fill-dark-green dark:fill-light " viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="Layer 2"><path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/></g></svg>
		</a>
      </div>

	  <div class="h-96 dark:text-light text-center">
		<p>This project was created by 
			<a href="https://github.com/MartinsitoBritoDiaz">Martinsito</a> ©
		</p>
	  </div>
    </Layout>
  </body>
</html>
