---
import Layout from "../layouts/Layout.astro";
import { info } from "@data";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config";
import BaseHead from "@components/general/BaseHead.astro";
import Hero from "@components/home/Hero.astro";
import { Project } from "@components";



---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Layout>
      <h1 class="text-light font-bold text-3xl">Projects</h1>
    </Layout>
  </body>
</html>
