---
import Layout from "../layouts/Layout.astro";
import { info } from "@data";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config";
import BaseHead from "@components/general/BaseHead.astro";
import Hero from "@components/home/Hero.astro";
import { Project } from "@components";
import { ProjectItem } from "@components/react/ProjectItem";


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Layout>
      <h1 class="dark:text-light font-bold sm:text-3xl md:text-7xl my-10 mb-20">Projects</h1>
      <div class="grid md:grid-cols-2 gap-10 sm:grid-cols-1 sm:gap-y-2 mb-20">
 
        {
          info.work.projects.map(( project ) => (
            <ProjectItem project={project} />
          ))
        }

      </div>
    </Layout>
  </body>
</html>
<!-- 
<div class="grid lg:grid-cols-3 md:grid-cols-2 gap-x-4 sm:grid-cols-1 sm:gap-y-4">
  <div class="w-full bg-white relative ">
    <img class="block w-full" src={info.image} alt="your-image-description ">
    <div class="absolute bottom-0 right-0 left-0 h-full bg-dark-green dark:bg-light opacity-0 hover:opacity-75 transition-all">
      <div class="flex h-full items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          viewBox="0 0 24 24"
          class="stroke-light dark:stroke-dark-green w-6 h-6"
          fill="none"
        >
          <>
            <title>GitHub</title>
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
          </>
        </svg> 
      </div>  
    </div>        
  </div>
  <div class="w-full bg-white">
    <h2>Hello</h2>
  </div>
  <div class="w-full bg-white">
    <h2>Hello</h2>
  </div>
</div> -->
