---
import { PaginationChanges } from "@components/react/PaginationChanges";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>        
  <h1 class="dark:text-light font-bold sm:text-3xl md:text-5xl my-10 mb-20">Projects</h1>
  <PaginationChanges client:load />
</MainLayout>