---
import Layout from '../layouts/Layout.astro';
import WorkWrapper from '@components/WorkWrapper.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
	
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#ffffff" />
  </head>

  <body>
    <Layout>
		<WorkWrapper />
    </Layout>
  </body>
</html>

<style>
	main {
		margin: auto;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>