---
import { info } from "@data";
import { IHeroProps } from "@types";

const { name, degree, about } = Astro.props as IHeroProps;
---
<div class="md:flex">
  <div class="dark:text-light md:flex-1">
    <div class="text-xl py-1 ">Hi there 👋</div>
    <div class="text-5xl font-bold mt-5">
      I'm <span class="text-gradient">{name}</span>
    </div>
    <div class="text-3xl py-3 font-bold">{degree}</div>
    <div class="py-2">
      <text class="text-lg">
        {about}
      </text>
    </div>
    <div class="my-5">
      <a href="/about#contactForm" class=" bg-dark-green text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline">Contact</a>  
    </div>
  </div>
  <div class=" md:flex-1 flex items-center justify-center">
    <img width="100" height="100" src={info.codeBackground} class="h-70 w-60 my-10" alt="Coding image" />
  </div>
</div>
